/*Francois One and Open Sans font import*/

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Open+Sans:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body {
    font-family: 'Open Sans', sans-serif;
    /*background-color: #ebebeb;*/
}

/*Header*/
/*Bottom navbar*/
.header-bottom-navbar {
    display: none;
}


.header-categories {
    width: 100%;
    height: 60px;
    padding: 5px 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.header-categories a {
    height: 100%;
} 

.header-categories img {
    height: 100%;
    border: solid 1px black;
    border-radius: 50%;
}

@media (min-width: 461px) {
    .header-categories {
        height: 80px;
    }
}

@media (min-width: 769px) {
    .header-social .login {
        display: none;
    }

    .header-top-navbar-logo {
        width: 30%;
    }
    
    .header-top-navbar-search-bar {
        width: 40%;
        padding: 0;
    }
    
    .header-top-navbar-search-bar button {
        right: 0;
    }

    .header-top-navbar-login-cart {
        display: block;
        text-align: center;
        width: 30%;
    }

    .header-top-navbar-login-cart a{
        text-decoration: none;
        color: white;
        margin: 5px;
    }

    .header-bottom-navbar {
        background-color: black;
        width: 100%;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .header-bottom-navbar p {
        font-weight: lighter;
        font-style: italic;
        font-size: 13px;
    }

    .header-bottom-navbar-showroom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        text-align: center;
        color: white;

    }

    .header-bottom-navbar-send {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        text-align: center;
        color: white;
    }

    .header-bottom-navbar-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        text-align: center;
        color: white;
    }

    .header-categories {
        display: none;
    }
}