<header>
  <!-- Social Navbar -->
  <div class="container-fluid text-white" style="background-color: black;">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="ms-sm-3">
        <a href="http://api.whatsapp.com/send?phone=5493513323046" class="">
          <svg class="me-1 me-sm-2" width="18px" height="18px" fill="white">
            <use xlink:href="#whatsapp" />
          </svg></a>
        <a href="https://www.instagram.com/titabe.cba/?hl=es" class="">
          <svg class="me-1 me-sm-2" width="18px" height="18px" fill="white">
            <use xlink:href="#instagram" />
          </svg></a>
        <a href="https://www.facebook.com/titabe.cba" class="">
          <svg class="me-1 me-sm-2" width="18px" height="18px" fill="white">
            <use xlink:href="#facebook" />
          </svg></a>
        <a href="mailto: titabe.cba@gmail.com" class="">
          <svg class="me-1 me-sm-2" width="18px" height="18px" fill="white">
            <use xlink:href="#gmail" />
          </svg></a>
      </div>
      <div class="me-sm-3">
        <svg class="me-2" width="18px" height="18px" fill="white">
          <use xlink:href="#truck" />
        </svg>Envíos a todo el país
      </div>
    </div>
  </div>

  <!-- Main Navbar -->
  <div class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="me-lg-3" width="100px" src="/images/logo-white.png" alt="logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-warning">INICIO</a></li>
          <li><a href="/Products" class="nav-link px-2 text-white">PRODUCTOS</a></li>
          <li><a href="#" class="nav-link px-2 text-white">CONTACTO</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Busca tu producto..."
            aria-label="Search">
        </form>

        <div class="text-end">
          <a href="/users/login"><button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</button></a>
          <a href="/products/cart"><button type="button" class="btn btn-warning"><svg class="bi pe-none" width="30"
                height="24" fill="black">
                <use xlink:href="#cart" />
              </svg></button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="black" />
        </svg>

        <div class="container">
          <div class="carousel-caption">
            <p>Promocion 1</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="black" />
        </svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="black" />
        </svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="header-categories">
    <a href=""><img src="/images/cat-discos.jpg" alt="categoria-discos"></a>
    <a href=""><img src="/images/cat-fogonero.jpg" alt="categoria-fogonero"></a>
    <a href=""><img src="/images/cat-leñero.jpg" alt="categoria-leñero"></a>
    <a href=""><img src="/images/cat-parrilla.jpg" alt="categoria-parrilla"></a>
    <a href=""><img src="/images/cat-plancha.jpg" alt="categoria-plancha"></a>
  </div>
</header>