<header>
  <!-- Social Navbar -->
  <div class="container-fluid text-white" style="background-color: black;">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="ms-sm-3">
        <a href="http://api.whatsapp.com/send?phone=5493513323046" class="">
          <svg class="me-1 me-sm-2" width="18px" height="18px" fill="white">
            <use xlink:href="#whatsapp" />
          </svg></a>
        <a href="https://www.instagram.com/titabe.cba/?hl=es" class="">
          <svg class="me-1 me-sm-2" width="18px" height="18px" fill="white">
            <use xlink:href="#instagram" />
          </svg></a>
        <a href="https://www.facebook.com/titabe.cba" class="">
          <svg class="me-1 me-sm-2" width="18px" height="18px" fill="white">
            <use xlink:href="#facebook" />
          </svg></a>
        <a href="mailto: titabe.cba@gmail.com" class="">
          <svg class="me-1 me-sm-2" width="18px" height="18px" fill="white">
            <use xlink:href="#gmail" />
          </svg></a>
      </div>
      <div class="me-sm-3">
        <svg class="me-2" width="18px" height="18px" fill="white">
          <use xlink:href="#truck" />
        </svg>Envíos a todo el país
      </div>
    </div>
  </div>

  <!-- Main Navbar -->
  <div class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="me-lg-3" width="100px" src="/images/logo-white.png" alt="logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white liNavbar1">INICIO</a></li>
          <li><a href="/products" class="nav-link px-2 text-white liNavbar2">TIENDA</a></li>
          <li><a href="#" class="nav-link px-2 text-white liNavbar3">CONTACTO</a></li>
        </ul>

        <form action="/search" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" name="search" class="form-control form-control-dark text-bg-dark" placeholder="Busca tu producto..." aria-label="Search">
        </form>

        <div class="text-end d-flex flex-wrap align-items-center justify-content-center">
          <% if (locals.isLogged) { %> <!-- Si el usuario está logueado muestra el icono con la foto de perfil -->
            <div class="dropdown text-end me-3">
              <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/images/users/<%= locals.userLogged.image %>" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#"><%= locals.userLogged.fullName %></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
              </ul>
            </div>
          <% } else {%> <!-- si no hay nadie logueado muestra el boton de iniciar sesión -->
          <a href="/users/login"><button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</button></a>
          <% } %> 
          <a href="/products/cart"><button type="button" class="btn btn-warning"><svg class="bi pe-none" width="30"
                height="22" fill="black">
                <use xlink:href="#cart" />
              </svg></button></a>
        </div>
      </div>
    </div>
  </div>
</header>
<script src="/js/header.js"></script>