<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="../css/main-style.css">
</head>

<body class="bg-dark">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <!-- icons -->
  <%- include('../partials/icons') %>

    <!-- header -->
    <%- include('../partials/header') %>

      <main>
        <div class="container-fluid my-3">
          <div class="row g-0">
            <div class="col-md-6 index-item">
              <div class="ratio" style="--bs-aspect-ratio: 50%;">
                <img src="/images/products/cat4.png" alt="fogonero" class="rounded img-fluid p-2 index-picture">
                <a href="#" class="stretched-link">
                  <p class="position-absolute bottom-0 start-0 p-4 text-light fs-2 index-title">FOGONEROS</p>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-6 index-item">
              <div class="ratio ratio-1x1">
                <img src="/images/products/cat5.png" alt="fogonero" class="rounded img-fluid p-2 index-picture">
                <a href="#" class="stretched-link">
                  <p class="position-absolute bottom-0 start-0 p-4 text-light fs-2 index-title">ASADORES</p>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-6 index-item">
              <div class="ratio ratio-1x1">
                <img src="/images/products/cat3.png" alt="fogonero" class="rounded img-fluid p-2 index-picture">
                <a href="#" class="stretched-link">
                  <p class="position-absolute bottom-0 start-0 p-4 text-light fs-2 index-title">CRUCES</p>
                </a>
              </div>
            </div>
            </div>
            <div class="row g-0">
              <div class="col-md-3 col-6 index-item">
                <div class="ratio ratio-1x1">
                  <img src="/images/products/cat6.png" alt="fogonero" class="rounded img-fluid p-2 index-picture">
                  <a href="#" class="stretched-link">
                    <p class="position-absolute bottom-0 start-0 p-4 text-light fs-2 index-title">DISCOS</p>
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-6 index-item">
                <div class="ratio ratio-1x1">
                  <img src="/images/products/cat1.png" alt="fogonero" class="rounded img-fluid p-2 index-picture">
                  <a href="#" class="stretched-link">
                    <p class="position-absolute bottom-0 start-0 p-4 text-light fs-2 index-title">LEÑEROS</p>
                  </a>
                </div>
              </div>
              <div class="col-md-6 index-item">
                <div class="ratio" style="--bs-aspect-ratio: 50%;">
                  <img src="/images/products/cat2.png" alt="fogonero" class="rounded img-fluid p-2 index-picture">
                  <a href="#" class="stretched-link">
                    <p class="position-absolute bottom-0 start-0 p-4 text-light fs-2 index-title">PARRILLAS</p>
                  </a>
                </div>
              </div>
          </div>
          <div class="row g-0">
            <div class="col-md-6 index-item">
              <div class="ratio" style="--bs-aspect-ratio: 50%;">
                <img src="/images/products/cat8.png" alt="fogonero" class="rounded img-fluid p-2 index-picture">
                <a href="#" class="stretched-link">
                  <p class="position-absolute bottom-0 start-0 p-4 text-light fs-2 index-title">TABLAS</p>
                </a>
              </div>
            </div>
            <div class="col-md-6 index-item">
              <div class="ratio" style="--bs-aspect-ratio: 50%;">
                <img src="/images/products/cat7.png" alt="fogonero" class="rounded img-fluid p-2 index-picture">
                <a href="#" class="stretched-link">
                  <p class="position-absolute bottom-0 start-0 p-4 text-light fs-2 index-title">ACCESORIOS</p>
                </a>
              </div>
            </div>
          </div>

        </div>


      </main>

      <!-- footer -->
      <%- include('../partials/footer') %>

</body>

</html>